#friends .nav__btn:first-child i {
  color: var(--gray);
}

#friends .main-screen {
  margin-top: 20px;
}

#friends-display-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 100px;
}

#friends-display-link i {
  opacity: 0.3;
}

#friends-display-link i:first-child {
  margin-right: 5px;
  font-size: 20px;
}

#friends-display-link i:last-child {
  margin-left: 5px;
}

.friends-screen__channel {
  margin-top: 20px;
  border-top: var(--section-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 2s;
}
